<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="top-nav">
      <ul class="nav">
         <li class="logo"><img  src="https://news.ycombinator.com/y18.gif"></li>
        <li class="title">Slacker News</li>
        <li>new |</li>
        <li>comments |</li>
        <li>ask  |</li>
        <li>jobs |</li>
        <li><a href="/articles/new">submit</a></li>
        <li id="login"><a href="#">login</a></li>
      </ul>
    </div>
  <div class="content-div">

  <%= yield %>


      <div class="footer-nav">
        <ul class="nav">
          <li>Lists |</li>
          <li>RSS |</li>
          <li>Bookmarklet |</li>
          <li>Guidelines |</li>
          <li>FAQ |</li>
          <li>DMCA |</li>
          <li>News News |</li>
          <li>Feature |</li>
          <li>Requests |</li>
          <li>Bugs |</li>
          <li>Y Combinator |</li>
          <li>Apply |</li>
          <li>Library</li>
        </ul>
      </div>

      <div class="footer-search">
        <form>
          <label>Search:</label>
          <input type="search" name="search">
        </form>
      </div>
    </div>

  </body>
</html>
